{% extends 'base.html' %}

{% block title %}
found!
{% endblock %}

{% block content %}
	{% block body %}
		{% block page_content %}
		<div class="remaining">
		{{ remaining }} queries left<br>
		</div>
		<div class="container" id="query-container">
			<div class="row">
				<form class="form-inline" id="query" name="term" action="/query" method="POST">
					<input type="text" name="term" placeholder="Search by keyword or username e.g. 'trump' OR POTUS" size="47">
				</form>
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
			<div class="row term">
				<h1>found: {{ term }} </h1>
			</div>
			<div class="row">
				<div class="col-5 left">
					<a href="{{ url }}">
						<img id="image" atl="Profile picture" src='{{ pic }}'> 
					</a>
					<div class="name">
						<h3>I'm {{ name }}</h3>
						<div class="description">
						{% if description is not none %}
						<h4>{{ description }}<br></h4>
						{% endif %}
						</div>
					</div>
				</div>
				<div class="col-6 right speech-bubble">
					<div class="tags">
							{% if hashtags is not none %}
								<h2>{{ hashtags }}</h2>
							{% endif %}
					</div>
					<div class="tweet">
						<h4>{{ tweet }}</h4>
					</div>
				</div>
			</div>
		{% endblock %}
	{% endblock %}
{% endblock %}
